<div class="container-fluid">
    <main>
        <div class="d-flex align-items-center justify-content-center">
            <div class="forms-input">
                <input class="p-1 flex-grow-1 search__input" type="search" [(ngModel)]="searchValue" (keyup.enter)="pronaciPoTrazenojReci(searchValue)" />
                <div class="p-1" (click)='pronaciPoTrazenojReci(searchValue)'>
                    <button mat-mini-fab class="button-glavni">
                        <mat-icon>search</mat-icon>
                    </button>
                </div>
                <div class="p-1" (click)='toogleFilterDiv()'>
                    <button *ngIf="!otvoriFilterDiv" class="button-glavni" mat-mini-fab>
                        <mat-icon>view_headline</mat-icon>
                    </button>
                    <button *ngIf="otvoriFilterDiv" mat-mini-fab class="button-polu-glavni">
                        <mat-icon>view_headline</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <label *ngIf="pocetnoPretrazivanje" class="mat-caption">
                <font color="#424242"> Ukucajte kataloski broj</font>
            </label>
        </div>

        <div class="d-flex justify-content-center" *ngIf="otvoriFilterDiv">
            <div class="filter-div-test d-flex flex-column">
                <div class="d-flex justify-content-center">
                    <h2>
                        Filter
                    </h2>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text button-glavni-50" for="inputGroupSelect01">
                            <p class="boja-kontra-bela">Proizvodjac: </p>
                        </label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="izabraniProizvodjac">
                        <option *ngFor="let proizvodjac of proizvodjaci" [value]="proizvodjac.naziv">
                            <p>{{proizvodjac.naziv}}</p>
                        </option>
                    </select>

                    <div class="input-group-prepend razmak">
                        <label class="input-group-text button-glavni-50" for="inputGroupSelect01">
                            <p class="boja-kontra-bela">Raspolozivost: </p>
                        </label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="izabranaRaspolozivost">
                        <option *ngFor="let raspoloziv of raspolozivost" [value]="raspoloziv">{{raspoloziv}}</option>
                    </select>
                </div>
                <div class="d-flex justify-content-center">
                    <div>
                        <button mat-stroked-button class="button-glavni" (click)='filtriraj()'>
                            <p class="boja-kontra-bela">Filtriraj</p>
                        </button>
                        <span class="col-2"></span>
                        <button mat-stroked-button class="button-error" (click)='resetujFilter()'>
                            <p class="boja-kontra-bela">Ponisti</p>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column prazna-tabela" *ngIf="!pronadjenaRoba">
            <i class="material-icons icon-size">
                error_outline
            </i>
            <h1 class="h1-upozorenje">Artikal ne postoji</h1>
        </div>
    
        <div class="d-flex justify-content-center prazna-tabela" *ngIf="ucitavanje">
            <mat-spinner></mat-spinner>
        </div>
        <div class="tabela-div" *ngIf="dataSource != null && dataSource.length > 0">
            <table mat-table [dataSource]="dataSource"       >
                <!-- Kataloski broj Column -->
                <ng-container matColumnDef="katbr">
                    <th mat-header-cell    *matHeaderCellDef> Kataloski broj </th>
                    <td mat-cell *matCellDef="let roba">
                        <p class="mat-body-2">
                            {{roba.katbr}}
                        </p>
                    </td>
                </ng-container>

                <!-- Kataloski broj proizvodjaca Column -->
                <ng-container matColumnDef="katbrpro">
                    <th mat-header-cell    *matHeaderCellDef> Kataloski broj proizvodjaca </th>
                    <td mat-cell *matCellDef="let roba">
                        <p class="mat-body-1">
                            {{roba.katbrpro}}
                        </p>
                    </td>
                </ng-container>

                <!-- Naziv Column -->
                <ng-container matColumnDef="naziv">
                    <th mat-header-cell *matHeaderCellDef> Naziv </th>
                    <td mat-cell *matCellDef="let roba">
                        <p class="mat-body-1">
                            {{roba.naziv}}
                        </p>
                    </td>
                </ng-container>

                <!-- Proizvodjac Column -->
                <ng-container matColumnDef="proizvodjac">
                    <th mat-header-cell *matHeaderCellDef> Proizvodjac </th>
                    <td mat-cell *matCellDef="let roba">
                        <p class="mat-body-2">
                            {{roba.proizvodjac}}
                        </p>
                    </td>
                </ng-container>

                <!-- Cena Column -->
                <ng-container matColumnDef="cena">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Cena </th>
                    <td mat-cell *matCellDef="let roba">
                        <p class="mat-body-2 text-right iznos-margin">
                                {{roba.cena | currency:" "}} RSD
                        </p>
                    </td>
                </ng-container>

                <!-- Stanje Column -->
                <ng-container matColumnDef="stanje">
                    <th mat-header-cell *matHeaderCellDef class="text-center"> Stanje </th>
                    <td mat-cell *matCellDef="let roba">
                        <div *ngIf="roba.stanje > 0" class="text-center">
                            <mat-icon class="boja-confirm">check_circle_outline</mat-icon>
                        </div>
                        <div *ngIf="roba.stanje == 0">
                            <mat-icon class="boja-error">remove_circle_outline</mat-icon>
                        </div>
                    </td>
                </ng-container>


                <!-- Kolicina Column -->
                <ng-container matColumnDef="kolicina">
                    <th mat-header-cell *matHeaderCellDef>Kolicina </th>
                    <td mat-cell *matCellDef="let roba">
                        <div *ngIf="roba.stanje > 0">
                            <input type="number" min="0" placeholder="0" max="{{roba.stanje}}" class="kolicina-labela" [(ngModel)]="roba.kolicina" />
                        </div>
                </ng-container>

                <!-- Kropa dugme Column -->
                <ng-container matColumnDef="korpa">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let roba">
                        <div *ngIf="roba.stanje > 0">
                            <button mat-raised-button class="button-glavni" (click)='dodajUKorpu(roba)'>Dodaj u korpu</button>
                        </div>
                </ng-container>

                <!-- Da li ima na stanju ikona -->
                <ng-container matColumnDef="u-korpi">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let roba">
                        <div *ngIf="uKorpi(roba.katbr)">
                            <mat-icon class="boja-error">add_shopping_cart</mat-icon>
                        </div>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
                <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>
            </table>
            <mat-paginator #paginator [length]="tableLength" [pageSize]="rowsPerPage" [pageSizeOptions]="[5, 10, 25]"
                [pageIndex]="pageIndex" [length]="tableLength" [showFirstLastButtons]="true" (page)="paginatorEvent($event)">
            </mat-paginator>
        </div>
    </main>
</div>