@import "src/automaterijal-theme.scss";

h1 {
   color:  $automaterijal-primary-50;
   font-size: 32px;
   font-weight: bold;
   margin-left: 6%;
   margin-top: 25px;
}

.h1-upozorenje {
  color: $automaterijal-grey-200 !important;
  text-align: center;
  font-size: 50px !important;
  margin: 0% !important;
}