<div class="container">
  <main>
    <div class="pozadina-glavna-50 boja-kontra-bela">
      <h1>Artikal broj: {{data.katbr}}</h1>
    </div>
    <table class="table">
      <tbody>
        <tr>
          <td>Proizvodjac</td>
          <td>{{data.proizvodjac}}</td>
        </tr>
        <tr>
          <td>Cena</td>
          <td>{{data.cenaKom}}</td>
        <tr>
          <td>Kolicina</td>
          <td>
            <select class="custom-select custom-select-md" [(ngModel)]="data.kolicina">
              <option *ngFor="let kolicina of stanje" [value]="kolicina">{{kolicina}}</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Ukupno za placanje</td>
          <td><b>{{data.kolicina * data.cenaKom}} DIN</b></td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex flex-row justify-content-center">
      <button class="button-glavni" mat-raised-button (click)="sacuvajIzmene()">Sacuvaj</button>
      <span class="col-2"></span>
      <button class="button-error" mat-raised-button (click)="bezIzmena()">Ponisti</button>
    </div>
  </main>
</div>