
$automaterijal-grey-50: #263238; 
$automaterijal-grey-100: #607d8b;
$automaterijal-grey-200: #8ea7b4;
$automaterijal-grey-300: #cfd8dc;
$automaterijal-grey-400: #f8fcff;

$automaterijal-primary-50: #283b4ef8;
$automaterijal-primary-100: #3e5e9e;
$automaterijal-primary-200: #547aa1f8;
$automaterijal-primary-300: #81d4fa;


$automaterijal-accent-green-50: #33691e;
$automaterijal-accent-green-100: #43a047;
$automaterijal-accent-green-200: #a5d6a7;

$automaterijal-accent-yellow-50: #fbc02d;
$automaterijal-accent-yellow-100: #ffeb3b;
$automaterijal-accent-yellow-200: #fff9c4;

$automaterijal-accent-red-50: #b71c1c;
$automaterijal-accent-red-100: #f13b2e;
$automaterijal-accent-red-200: #ffcdd2;