<div class="grid-container">
    <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Motorna ulja">
            <app-motorna></app-motorna>
        </mat-tab>
        <mat-tab label="Menjacka ulja">
            <app-menjacko></app-menjacko>
        </mat-tab>
        <mat-tab label="Kociona ulja">
            <app-kociona></app-kociona>
        </mat-tab>
        <mat-tab label="Antifiriz">
            <app-antifriz></app-antifriz>
        </mat-tab>
        <mat-tab label="Industrijska ulja">
            <app-industrijska></app-industrijska>
        </mat-tab>
    </mat-tab-group>
</div>